@tailwind base;
@tailwind components;
@tailwind utilities;


   .submenu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1s ease-out, opacity 0.3s ease-out;
  }
  
  .submenu.open {
    max-height: 200px;
    opacity: 1;
  }